#!/bin/bash

source /etc/rc.d/functions
source /etc/conf.d/rc.conf

### removing stale PID files is good, too
write_message "Loading keymap..."
/bin/loadkeys $KEYMAP > /dev/tty9 2> /dev/tty9
check_success $?

### I also suggest setting keyboard repeat rate and delay here:
write_message "Setting keyboard rate (30) and delay (250)..."
/usr/bin/kbdrate -r 30 -d 250 > /dev/tty9 2> /dev/tty9
check_success $?


